:root {
    --teal: hsl(359deg 10% 15%);
    --record-black: hsl(197deg 100% 8%);
    --record-teal: hsl(191deg 100% 14%);
    --label: hsl(21deg 50% 55%);
    --table-dark: hsl(14deg 86% 25%);
    --table-light: hsl(21deg 50% 55%);
    --table-xlight: hsl(23deg 100% 72%);
    --panel: hsl(38deg 9% 77%);
    --panel-shadow: hsl(38deg 9% 77%);
    --dark: hsl(38deg 9% 77%);

}
html {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.record-player{
    background-color: var(--table-light);
    color: white;
    padding: 50px;
}

.nav-menu ul{
    display: grid;
    gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-rows: repeat(5, 1fr);
}

.bottom-area{
    background-image: url("../img/wood-pattern.png");
    background-color: var(--table-light); 
    gri
}

img {
    max-width: 30%;
    max-height: auto;
}