:root {
    --color-teal: hsl(181deg, 100%, 31%);
    --color-record-black: hsl(197deg, 100%, 8%);
    --color-record-teal: hsl(191deg, 100%, 14%);
    --color-record-label: hsl(180deg, 74%, 56%);
    --color-table-dark: hsl(14deg, 86%, 25%);
    --color-table-light: hsl(21deg, 50%, 55%);
    --color-panel: hsl(38deg, 9%, 77%);
    --color-panel-shadow: hsl(162deg, 3%, 45%);
    --color-dark: hsl(359deg, 10%, 15%);
}

html, body {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

.record-player {
    background-color: var(--color-dark);
    background-image: url(../img/table.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    color: white;
    display: grid;
    gap: 20px;
    grid-template-areas: 
        'nav record-space panel'
        'nav record-space panel'
        'nav record-space panel'
        'nav record-space panel'
        'nav record-space panel';
    max-width: 100%;
    max-height: 75%;
    margin: auto;
    box-sizing: border-box;
}

.record,
.arm {
    grid-area: record-space;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.record {
    position: relative;
    animation: rotation 2s infinite linear;
}

.arm {
    position: relative;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.nav-menu {
    grid-area: nav;
    position: sticky;
    top: 0;
}

.nav-menu ul {
    display: grid;
    gap: 0;
    padding: 0;
    list-style: none;
}

.nav-menu a {
    background-color: var(--color-panel);
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: left;
    color: var(--color-dark);
    font-size: 19px;
    text-transform: uppercase;
    box-shadow: var(--color-panel-shadow);
}

.nav-menu a:hover {
    background-color: var(--color-dark);
    color: var(--color-panel);
}

.bottom-area {
    background-image: url("../img/wood-pattern.png");
    background-color: var(--color-table-light);
    padding: 50px;
    display: grid;
    gap: 20px;
    grid-template-areas: 
        'pictures'
        'bio';
}

.selfie {
    max-width: 100%;
    height: auto;
    grid-area: pictures;
}

.bio {
    grid-area: bio;
    padding: 20px;
    background-color: hsla(0, 0%, 0%, 0.2);
}

.resume {
    background-color: var(--color-record-label);
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color: var(--color-dark);
    font-size: 19px;
    box-shadow: var(--color-panel-shadow);
}

.resume:hover {
    background-color: var(--color-record-teal);
    color: var(--color-record-label);
}

@media (max-width: 700px) {
    .bottom-area {
        grid-template-areas: 
            'pictures'
            'bio';
    }
}

@media (min-width: 701px) {
    .bottom-area {
        grid-template-areas: 'pictures bio';
    }
}

@media only screen and (max-width: 1200px) {
    .nav-menu a {
        font-size: 14px; /* Adjust for medium screens */
    }
}

@media only screen and (max-width: 700px) {
    .nav-menu a {
        font-size: 8px; /* Adjust for smaller screens */
    }
}
