:root {
    --teal: hsl(181deg 100% 31%);
    --record-black: hsl(197deg 100% 8%);
    --record-teal: hsl(191deg 100% 14%);
    --record-label: hsl(180deg 74% 56%);
    --table-dark: hsl(14deg 86% 25%);
    --table-light: hsl(21deg 50% 55%);
    --panel: hsl(38deg 9% 77%);
    --panel-shadow: hsl(180deg 74% 56%);
    --dark: hsl(359deg 10% 15%);

}
html,body {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

.record-player{
    background-color: var(--table-light);
    color: white;
    padding: 50px;
    padding-left: 150px;
    padding-right: 150px;
    display: grid;
    gap: 20px;
    grid-template-areas: 
    'nav record-space panel'
    'nav record-space panel'
    'nav record-space panel'
    'nav record-space panel'
    'nav record-space panel';
}

.nav-menu {
    grid-area: nav;
    max-width: 200px;
}

.nav-menu ul{
    display: grid;
    gap: 0;
    padding: 0;
    list-style: none;
}

.nav-menu a{
    background-color: var(--panel);
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: left;
    color: var(--dark);
    font-size: 19px;
    text-transform: uppercase;
    box-shadow: var(--panel-shadow);
}

.nav-menu a:hover{
    background-color: var(--dark);
    color: var(--panel);
}

.bottom-area{
    background-image: url("../img/wood-pattern.png");
    background-color: var(--table-light);
    padding: 50px;
    display: grid;
    gap: 20px;
    grid-template-areas: 'pictures bio';

}

img {
    max-width: 60%;
    height: auto;
    grid-area: pictures;
}

.bio {
    grid-area: bio;
    padding: 20px;
    background-color: hsla(0deg, 0%, 0%, 0.2);
}

.resume {
    background-color: var(--record-label);
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color: var(--dark);
    font-size: 19px;
    box-shadow: var(--panel-shadow);
}

.resume:hover {
    background-color: var(--teal);
    color: var(--record-label);
}
